#izl-cw {
    background-color: #111;
    font-size: 16px;
    width: 20%;
    height: 100%;
    float: right;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

#izl-cw #chat-history {
    padding: 20px;
    position: absolute;
    bottom: 55px;
    width: 100%;
    word-wrap: break-word;
    box-sizing: border-box;

}

#izl-cw #chatbox {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    color: #999;
    background-color: #000;
    border: 1px solid #000;
    border-top: 1px solid #333;
    font-size: 16px;
    padding: 10px;
    resize: none;
}

#izl-cw #chatbox:focus{
    outline:none;
}

#izl-cw .chat-item {
    padding: 0;
    margin: 15px 0;
    color: #999;
}

#izl-cw .chat-item .screen-name {
  font-weight: bold;
  margin-right: 5px;
}

#izl-cw .chat-item.owner-world {
    background-color: #222;
}

#izl-cw .chat-item.owner-system, #izl-cw .chat-item.owner-system .screen-name {
    color: #966;
}

.izl_izleminated .jwcaptions, .izl_izleminated video {
    width: 80%;
}