#izl-chat {
    height: 100%;
    width: 20%;
    height: 100%;
    float: right;
    position: relative;
}

#izl-cw {
    background-color: #111;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    width: 100%;
}

#izl-cw #chat-history {
    padding: 20px 0;
    position: absolute;
    bottom: 55px;
    word-wrap: break-word;
    box-sizing: border-box;
    text-align: left;

}

#izl-cw #chatbox {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    box-sizing: border-box;
    color: #999;
    background: #000;
    border: 1px solid #000;
    border-top: 1px solid #333;
    border-radius: 0;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    resize: none;
    text-align: left;
}

#izl-cw #chatbox:focus{
    outline:none;
    border-top: 1px solid #333;
    box-shadow: none;
}

#izl-cw .chat-item {
    padding: 5px 12px;
    color: #999;
}

#izl-cw .chat-item .screen-name {
  font-weight: bold;
}

#izl-cw .chat-item p {
    margin: 7px 0;
}

#izl-cw .chat-item.owner-world {
    background-color: #222;
}

#izl-cw .chat-item.owner-system {
    color: #966;
}

#izl-emojis {
    background-color: rgba(0,0,0,0.6);
    padding: 15px;
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom:0;
}

#izl-emojis.visible {
    opacity: 1;
}

.izl_izleminated .jwcaptions, .izl_izleminated video {
    width: 80%;
}